* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #dedede;
}

.forgotpage {
  padding: 50px;
}

.forgotheader {
  display: flex;
  justify-content: space-between;
}

.forgotheader h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: bolder;
  color: #100b60;
}

.forgotheader button {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}

.forgotheader button:hover {
  background-color: rgb(40, 39, 39);
}

.forgotcontainer {
  margin-top: 50px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  width: 40%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  height: 40vh;
  color: #100b60;
  border-radius: 10px;
}

.forgottext {
  margin-top: 60px;
  font-size: 18px;
  margin-bottom: 30px;
  font-weight: 500;
}

.forgotinputbox input {
  padding-left: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  width: 60%;
  height: 35px;
  margin-bottom: 25px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: black;
}

.forgotinputbox input:focus {
  outline: none;
  border: 2px solid #100b60;
}

.forgotsubmit {
  background-color: #100b60;
  padding: 10px 70px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.forgotsubmit:hover {
  background-color: black;
}
