* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  background-color: #dedede;
}

.signuppage {
  padding: 50px;
}

.signupheader {
  display: flex;
  justify-content: space-between;
}
.signupheader h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 50px;
  font-weight: bolder;
  color: #100b60;
}
.signupheader button {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: black;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: bolder;
}
.signupheader button:hover {
  background-color: rgb(40, 39, 39);
}

.signupcontainer {
  margin-top: 50px;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  text-align: center;
  width: 40%;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.5);
  height: 60vh;
  color: #100b60;
  border-radius: 10px;
}

.signupuserinputbox {
  width: 80%;
  height: 100%;
  margin: 50px auto;
}

.signupuserinputbox input {
  padding-left: 20px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.2);
  width: calc(100% - 40px);
  max-width: 70%;
  height: 35px;
  margin-bottom: 15px;
  border-radius: 5px;
  text-align: left;
  border: none;
  font-size: 16px;
  color: black;
  transition: border-color 0.3s ease;
}
.signupuserinputbox input:focus {
  outline: none;
  border: 2px solid #100b60;
}

.signupsubmit {
  background-color: #100b60;
  padding: 10px 70px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  color: white;
  font-size: 15px;
  font-weight: bolder;
  cursor: pointer;
}

.signupsubmit:hover {
  background-color: black;
}
